nsm_ad4all_soap/data/ad4all-wsdl.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:Ad4all"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="data" targetNamespace="urn:Ad4all">
<types>
<xsd:schema targetNamespace="http://trial.ad4all.nl/order">
    <xsd:include schemaLocation= "http://trial.ad4all.nl/order.xsd"/>
</xsd:schema>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Ad4all">
<xsd:complexType name="notification">
<xsd:sequence>
<xsd:element name="portal" type="xsd:string" nillable="true"/>
<xsd:element name="basket_code" type="xsd:string" nillable="true"/>
<xsd:element name="order_code" type="xsd:string" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="notification_response">
<xsd:sequence>
<xsd:element name="result" type="xsd:boolean" nillable="true"/>
<xsd:element name="message" type="xsd:string" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="order">
<xsd:sequence>
<xsd:element name="portal" type="xsd:string" nillable="true"/>
<xsd:element name="deliverer" type="xsd:string" nillable="true"/>
<xsd:element name="order_code" type="xsd:string" nillable="true"/>
<xsd:element name="xml_data" type="xsd:string" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="order_response">
<xsd:sequence>
<xsd:element name="code" type="xsd:int" nillable="true"/>
<xsd:element name="message" type="xsd:string" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
</schema>
</types>
<message name="notify">
<part name="notification" type="tns:notification" xsi:nillable="true"/>
</message>
<message name="notify_response">
<part name="notification_response" type="tns:notification_response" xsi:nillable="true"/>
</message>
<message name="confirmation">
<part name="portal" type="xsd:string" xsi:nillable="true"/>
<part name="order_code" type="xsd:string" xsi:nillable="true"/>
<part name="pdf_data" type="xsd:string" xsi:nillable="true"/>
</message>
<message name="confirmation_response">
<part name="result" type="xsd:boolean" xsi:nillable="true"/>
<part name="message" type="xsd:string" xsi:nillable="true"/>
</message>
<message name="proof">
<part name="portal" type="xsd:string" xsi:nillable="true"/>
<part name="external_code" type="xsd:string" xsi:nillable="true"/>
<part name="pdf_data" type="xsd:string" xsi:nillable="true"/>
</message>
<message name="proof_response">
<part name="result" type="xsd:boolean" xsi:nillable="true"/>
<part name="message" type="xsd:string" xsi:nillable="true"/>
</message>
<message name="soap_order">
<part name="order" type="tns:order" xsi:nillable="true"/>
</message>
<message name="soap_order_response">
<part name="order_response" type="tns:order_response" xsi:nillable="true"/>
</message>
<portType name="data_port">
<operation name="notify">
<input message="tns:notify"/>
<output message="tns:notify_response"/>
</operation>
<operation name="confirmation">
<input message="tns:confirmation"/>
<output message="tns:confirmation_response"/>
</operation>
<operation name="proof">
<input message="tns:proof"/>
<output message="tns:proof_response"/>
</operation>
<operation name="soap_order">
<input message="tns:soap_order"/>
<output message="tns:soap_order_response"/>
</operation>
</portType>
<binding name="data_binding" type="tns:data_port">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="notify">
<soap:operation soapAction="notify"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</output>
</operation>
<operation name="confirmation">
<soap:operation soapAction="confirmation"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</output>
</operation>
<operation name="proof">
<soap:operation soapAction="proof"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</output>
</operation>
<operation name="soap_order">
<soap:operation soapAction="soap_order"/>
<input>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</input>
<output>
<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Ad4all"/>
</output>
</operation>
</binding>
<service name="service">
<port name="data_port" binding="tns:data_binding">
<soap:address location="http://trial.ad4all.nl/data/action"/>
</port>
</service>
</definitions>